.chat-page {
  display: grid;
  height: 100vh;
  background-color: #7395ae;
}
.chat-page-dark {
  display: grid;
  height: 100vh;
  background-color: #022741;
}

.chat-page-header {
  display: grid;
  grid-auto-flow: column;
}
.chat-page-current-user-pic {
  clip-path: circle();
}

.chat-page-main {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  background-color: #7773ae;
}

.conversation {
  height: 200px;
  display: grid;
  grid-auto-flow: column;
  overflow-y: scroll;
  grid-gap: 20px;
  outline: 1px solid black;
}
.sender-message-list {
  display: grid;
  grid-gap: 10px;
  align-items: center;
}
.sender-messages {
  background-color: rgba(0, 128, 0, 0.26);
  list-style: none;
}
.receiver-message-list {
  padding-top: 10px;
  display: grid;
  grid-gap: 10px;

  align-items: center;
}
.receiver-messages {
  list-style: none;

  background-color: rgba(128, 0, 128, 0.308);
}
.send-message-div {
  display: grid;
  align-content: center;

  /* background-color: aquamarine; */
}
.send-message-form {
  display: grid;
  grid-auto-flow: column;
  border-radius: 5px;
  background-color: #a39b29e0;
  /* grid-gap: 20px; */
}
.message-input {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #efefef;
}
.button-message {
  transition: 1s;
}
.button-message:hover {
  background-color: #1f30c5;
  color: white;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
}
.loading {
  padding-left: 250px;
  background-color: black;
}
.loading-image {
  place-content: center;
}
