.favorite-page {
  display: grid;
  grid-template:
    "user-information" 1fr
    "user-favorite-movies" 1fr/
    1fr 1fr;
  /* grid-template-columns: 0.6fr 0.4fr; */
  height: 100vh;
}
.user-information {
  display: grid;
  place-content: center;
}
.user-favorite-movies {
  display: grid;
}
