.home-page {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
  background-color: #7395ae;
  /* place-items: center; */
  padding: 20px;
  /* grid-gap: 20px; */
}
.home-page-dark {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
  background-color: #253038;
  /* place-items: center; */
  padding: 20px;
  /* grid-gap: 20px; */
}

.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
}
.home-page-current-user {
  display: grid;
  grid-auto-flow: column;
  place-content: start;
}
.home-page-current-user-span {
  font-weight: 500;
}
.home-page-current-user-span-dark {
  font-weight: 500;
  color: white;
}
.main {
  grid-area: main;
}
.video-section {
  display: grid;
}

.movie-list {
  display: grid;
  /* grid-auto-flow: column; */
  list-style: none;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
/* .movie-item{
    display: grid;
} */
.movie-title-dark {
  color: white;
}
.movie-thumbnail {
  transition: 1s;
}
.movie-thumbnail:hover {
  box-shadow: 15px 12px 3px #052b46;
  transition: 1s;
}
.movie-thumbnail-dark {
  transition: 1s;
}
.movie-thumbnail-dark:hover {
  box-shadow: 10px 10px 15px #1e92e6;
  transition: 1s;
}

.footer {
  grid-area: footer;
}
