.home-page {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "movie-master" 40px
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
    background: linear-gradient(#0e4255, #9bd9e1);
    /* background-color: #9bd9e1; */
  /* place-items: center; */
  padding-left: 20px;
  grid-gap: 40px;
  
}
/* #0e4255 */
/* #9bd9e1 */

.home-page-dark {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "movie-master" 40px
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
    background: linear-gradient(#061e44, #740b63);
  /* place-items: center; */
  padding-left: 20px;
  grid-gap: 40px;
}
/* #061e44 */
.movie-master {
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  font-size: 50px;
  color:#9bd9e1;
  text-decoration: none;
  
  
}
.movie-master-dark {
  color: #0095ff;
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  font-size: 50px;
  text-decoration: none;
 
}
.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  justify-content: space-around;

}
.home-page-profile-pic{
  clip-path: circle();
  
}
.home-page-current-user {
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-gap: 10px; */
  /* align-items: center; */
  place-content: start;
}
.home-page-current-user-span {
  font-weight: 500;
  padding-left: 5px;
  color: white;
}
.home-page-current-user-span-dark {
  font-weight: 500;
  color: white;
  padding-left: 5px;
}
.main {
  display: grid;
  
  grid-template:
    "video-section" 1fr
    "pagination" 0.1fr/ 1fr;
  grid-area: main;
}

.video-section {
  display: grid;
  padding-bottom: 50px;
  padding-left: 80px;
}

.movie-list {
  display: grid;
  /* grid-auto-flow: column; */
  list-style: none;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
/* .movie-item{
    display: grid;
} */
.movie-title-dark {
  color: white;
}
.movie-thumbnail {
  transition: 1s;
}
.movie-thumbnail:hover {
  box-shadow: 10px 10px 3px #052b46;
  transition: 0.5s;
}
.movie-thumbnail-dark {
  transition: 1s;
}
.movie-thumbnail-dark:hover {
  box-shadow: 0px 0px 20px 1px #1e92e6;
  transition: 0.5s;
}
.checkbox{
  transition: 1s;
}
.footer {
  grid-area: footer;
  place-content: center;
}
.pagination {
  padding-top: 50px;
}
.paginationBttns a {
  padding: 15px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #9597fc;
  color: black;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0e0e23;
}

.paginationActive a {
  color: rgb(12, 12, 12);
  background-color: #6466f2;
}

.paginationDisabled a {
  color: black;
  background-color: grey;
}

.paginationBttns {
  width: 80%;
  height: 60px;
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;

  padding-left: 250px;
  color: black;
}
