.home-page {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "movie-master" 40px
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
  background-color: #7395ae;
  /* place-items: center; */
  padding-left: 20px;
  grid-gap: 40px;
}

.home-page-dark {
  /* width: 100vw; */
  display: grid;
  grid-template:
    "movie-master" 40px
    "header" 100px
    "main" 1fr
    "footer" 40px / 1fr;
  background-color: #253038;
  /* place-items: center; */
  padding-left: 20px;
  grid-gap: 40px;
}
.movie-master {
  text-align: center;
}
.movie-master-dark {
  color: #0095ff;
  text-align: center;
}
.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
}
.home-page-current-user {
  display: grid;
  grid-auto-flow: column;
  place-content: start;
}
.home-page-current-user-span {
  font-weight: 500;
}
.home-page-current-user-span-dark {
  font-weight: 500;
  color: white;
}
.main {
  display: grid;
  
  grid-template:
    "video-section" 1fr
    "pagination" 0.1fr/ 1fr;
  grid-area: main;
}
.video-section {
  display: grid;
  padding-bottom: 50px;
  padding-left: 50px;
}

.movie-list {
  display: grid;
  /* grid-auto-flow: column; */
  list-style: none;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
/* .movie-item{
    display: grid;
} */
.movie-title-dark {
  color: white;
}
.movie-thumbnail {
  transition: 1s;
}
.movie-thumbnail:hover {
  box-shadow: 15px 12px 3px #052b46;
  transition: 0.5s;
}
.movie-thumbnail-dark {
  transition: 1s;
}
.movie-thumbnail-dark:hover {
  box-shadow: 0px 0px 20px 1px #1e92e6;
  transition: 0.5s;
}

.footer {
  grid-area: footer;
  place-content: center;
}
.pagination {
  padding-top: 50px;
}
.paginationBttns a {
  padding: 15px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #9597fc;
  color: #bfd5db;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0e0e23;
}

.paginationActive a {
  color: white;
  background-color: #6466f2;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

.paginationBttns {
  width: 80%;
  height: 60px;
  list-style: none;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;

  padding-left: 250px;
}
