.movie-details {
  background: linear-gradient(#0e4255, #9bd9e1);
  display: grid;
  justify-content: center;
}
.movie-details-dark {
  background: linear-gradient(#012b5c, #000000);
  display: grid;
  justify-content: center;
}

.movie-details-header {
  display: grid;
  grid-auto-flow: column;
}
.movie-details-current-user-pic{
  clip-path: circle();
}

.movie-details-main {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 0.5fr 0.5fr;
  padding: 20px;
  grid-gap: 20px;
  align-content: center;
}

.movie-section {
  justify-items: center;
}

.description {
  border: 5px solid gray;
}

.reviews {
  
  color: white;
  
  margin-top: 43px;
  
}
.review-list{
  display: grid;
  grid-gap: 20px;
  /* justify-content: start; */
}

.single-review {
  list-style: none;
  border: #294152 1px solid;
  background-color: #294152;
  width: 20vw;
  
  
}
.single-review-user{
  display: grid;
  grid-auto-flow: column;
  place-content: start;
  align-items: center;
  grid-gap: 3px;
  
}

.delete-button {
  background-color: tomato;
}

.delete-button:hover{
  cursor: pointer;
}
footer{
  display: grid;
  grid-auto-flow: column;
  place-content: start;
}

