.sign-in-page {
  width: 100vw;
  /* background-color: rgb(1, 146, 103); */
  background-color: black;
  display: grid;
  background-image: url("https://w0.peakpx.com/wallpaper/715/270/HD-wallpaper-deadpool-black-red.jpg");  background-repeat: no-repeat;
  background-position: right;
  place-items: center;
  align-content: center;
}
.sign-in-form {
  display: grid;
  grid-gap: 9px;
  padding: 20px;
}

.sign-in-button:hover {
  background-color: rgb(231, 0, 0);
  transition: 0.5s;
  color: white;
}


.sign-in-button {
  background-color: antiquewhite;
  border: none;
  border-radius: 50px;
  height: 30px;
  font-weight: 700;

  transition: 0.4s;
  color: rgb(146, 1, 1);
}

.sign-in-input {
  color: green;
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 200px;
}

.sign-in-input:focus {
  border: none;
}

.sign-in-link {
  color: rgb(238, 242, 230);
  text-decoration: none;
  font-weight: 400;
}

.sign-in-h3 {
  color: red;
}
