.sign-up-page {
  width: 100vw;
  background-color: rgb(28, 103, 88);
  display: grid;
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(251, 255, 0, 0.5)
    ),
    url("https://wallpapersmug.com/download/320x480/704f9f/deadpool-2-movie-cinema.jpg");
  place-items: center;
  align-content: center;
}
.sign-up-form {
  display: grid;
  grid-gap: 9px;
  padding: 20px;
}

.sign-up-button:hover {
  background-color: rgb(81, 165, 42);
  transition: 0.4s;
  color: rgb(207, 255, 141);
}

.sign-up-button {
  background-color: antiquewhite;
  border: none;
  border-radius: 50px;
  height: 30px;

  transition: 0.4s;
  color: green;
}

.sign-up-input {
  /* color: green; */
  border-radius: 50px;
  border: none;
  padding: 6px;
  height: 30px;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.7;
  color: black;
}

.sign-up-link {
  color: rgb(238, 242, 230);
  text-decoration: none;
  font-weight: 400;
}
.sign-up-link:hover{
    color: black;
}
